name: Jenkinsfile Runner CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  jenkins-runner:
    runs-on: ubuntu-22.04  # GLIBC 2.31 compatible

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Run Jenkinsfile Runner
        uses: jenkinsci/jfr-static-image-action@master
        with:
          context: .
          tag: users-defined-jenkins:latest
          jenkinsfile: Jenkinsfile
