name: Jenkinsfile Runner CI

# Trigger workflow on push to main branch
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

# Set permissions (read + write)
permissions:
  contents: write      # allows both read & write
  packages: write      # allows both read & write
  id-token: write      # allows write

jobs:
  jenkins-runner:
    runs-on: ubuntu-latest

    steps:
      # Checkout the repo
      - name: Checkout Repository
        uses: actions/checkout@v3

      # Build Jenkinsfile Runner Docker image
      - name: Build Jenkinsfile Runner Image
        uses: jenkinsci/jfr-static-image-action@v1.6.0
        with:
          command: run   # Run Jenkinsfile Runner
          base_image: jenkins/jenkinsfile-runner:latest

      # Run Jenkinsfile Runner
      - name: Run Jenkinsfile Runner
        run: |
          docker run --rm \
            -v ${{ github.workspace }}:/workspace \
            users-defined-jenkins:latest
