name: Jenkinsfile Runner CI

# Trigger workflow on push or pull request to main branch
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

permissions:
  contents: write
  packages: write
  id-token: write

jobs:
  jenkins-runner:
    runs-on: ubuntu-latest

    steps:
      # Checkout repository
      - name: Checkout Repository
        uses: actions/checkout@v3

      # Build Jenkinsfile Runner Docker image
      - name: Build Jenkinsfile Runner image
        uses: docker/build-push-action@v4
        with:
          context: .
          file: Dockerfile
          push: false
          tags: users-defined-jenkins:latest
          build-args: |
            BASE_IMAGE=jenkins/jenkinsfile-runner:latest

      # Run Jenkinsfile Runner
      - name: Run Jenkinsfile Runner
        run: |
          docker run --rm \
            -v ${{ github.workspace }}:/workspace \
            users-defined-jenkins:latest
