name: Jenkinsfile Runner CI

on:
  push:
    branches:
      - main

jobs:
  jenkins-static-pipeline:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Run Jenkinsfile Runner (Static Image)
        uses: jenkinsci/jfr-static-image-action@master
        with:
          command: run
          jenkinsfile: Jenkinsfile
          pluginstxt: plugins.txt
          jcasc: jcasc.yaml
