name: Jenkinsfile Runner CI

on:
  push:
    branches:
      - main  # Ensure this matches your default branch

jobs:
  jenkins-static-pipeline:
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Check GLIBC version
        run: ldd --version

      - name: Run Jenkinsfile Runner
        uses: jenkinsci/jfr-static-image-action@master
        with:
          command: run
          jenkinsfile: Jenkinsfile
          pluginstxt: plugins.txt
          jcasc: jcasc.yaml
