name: Jenkinsfile Runner CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  jenkins-runner:
    runs-on: ubuntu-22.04  # GLIBC >=2.28

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Run Jenkinsfile Runner
        uses: jenkinsci/jfr-static-image-action@master
        with:
          baseImage: "jenkins/jenkinsfile-runner:latest"
          jenkinsfile: Jenkinsfile
          pluginstxt: plugins.txt
          jcasc: jcasc.yaml
