name: Jenkinsfile Runner CI

# Trigger workflow on push or PR to main branch
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

# Set permissions
permissions:
  contents: write
  packages: write
  id-token: write

jobs:
  jenkins-runner:
    runs-on: ubuntu-latest

    steps:
      # Checkout the repo
      - name: Checkout Repository
        uses: actions/checkout@v3

      # Build Jenkinsfile Runner Docker image
      - name: Build Jenkinsfile Runner image
        uses: jenkinsci/jfr-static-image-action@master
        with:
          command: run
          baseImage: jenkins/jenkinsfile-runner:latest
          pluginstxt: plugins.txt
          jcasc: jcasc.yaml

      # Run Jenkinsfile Runner
      - name: Run Jenkinsfile Runner
        run: |
          docker run --rm \
            -v ${{ github.workspace }}:/workspace \
            users-defined-jenkins:latest
