name: Trigger Jenkins

on:
  push:
    branches:
      - main

jobs:
  trigger-jenkins:
    runs-on: self-hosted   # ya ubuntu-latest agar test karna ho
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Trigger Jenkins Job
        run: |
          curl -u "${{ secrets.JENKINS_USER }}:${{ secrets.JENKINS_TOKEN }}" \
          -X POST "http://YOUR_JENKINS_URL/job/my-docker-job/build"
